.main {
    display: flex;
    flex-direction: row;
    /* border:5px solid rgb(157, 21, 21); */
    height: 100vh;
}

/* width */
#light ::-webkit-scrollbar {
    width: 9px;
}
#dark ::-webkit-scrollbar {
    width: 9px;
}
/* Track */
#light ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#dark ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
#dark ::-webkit-scrollbar-thumb {
    background: #888;
}

#light ::-webkit-scrollbar-thumb {
    background: #bab8b8;
}

/* Handle on hover */
#dark ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#light ::-webkit-scrollbar-thumb:hover {
    background: #999797;
}

#dark ::placeholder {
    color: #646c7d;
}

#light ::placeholder {
    color: #949ba8;
}