#dark .contact {
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #303841;
    padding: .7%;
}

#light .contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #f5f7fb;
    padding: .7%;
}

.title {
    /* border: 1px solid black; */
    font-weight: 900;
    font-size: x-large;
    padding-left: 2%;
}

#light .chats {
    color: #3c4145;
}

#dark .chats {
    color: #e6ebf5
}

.searchsection {
    /* border: 1px solid black; */
    padding: 10px;
    height: 4%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#dark .searchinput {
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 100%;
    height: 100%;
    background-color: #36404a;
}

#light .searchinput {
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 100%;
    height: 100%;
    background-color: #e6ebf5;
}

.searchinput:focus-within {
    border: 1px solid #a6b0cf;
}

#dark .search-icon {
    color: #e1e9f1;
    padding: 2%;
}

#light .search-icon {
    color: #495057;
    padding: 2%;
}

#dark .serchinputelem {
    width: 100%;
    color: #e1e9f1;
    border: none;
    background-color: transparent;
}

#light .serchinputelem {
    width: 100%;
    color: #495057;
    border: none;
    background-color: transparent;
}

.serchinputelem:focus {
    outline: none;
}

.search-result-container {
    width: initial;
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-left: 0px;
    padding: 2%;
    padding-left: 0px;
    overflow-y: auto;
    width: 390px;
    /* border: 1px solid rgb(37, 188, 219); */
}

.favourites {
    /* border: 1px solid black; */
    height: 20%;
    margin: 1%;
}

.favContainer {
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px;
}

.recent {
    /* border-top: 1px solid; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#dark .recent-header {
    font-size: 17px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    color: #e1e9f1;
}

#light .recent-header {
    font-size: 17px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    color: #3c4145;
}

.recentContacts {
    /* border: 1px solid black; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}