.singleContact {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    overflow: hidden;
    cursor: pointer;
    /* border: 1px solid white */
}

.singleContact:hover {
    background-color: #36404a;
}

.icon {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    width: 80%;
    /* background-color: red; */
}

.active {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    width: 15%;
    top: 70%;
    left: 65%;
    border: 1px solid black;
}